/* DEBUG */
.debug .container {
    background-color: green;
    border: 1px solid black;
}

.debug [class *="col-"] {
    background-color: hotpink;
    border: 1px solid black;
}

[class *="col-"] {
    height: 100%;
    min-height: 100px;
}