/* DEBUG */
/* .debug .container {
    background-color: green;
    border: 1px solid black;
} */
/* COMMON */
[class *="col-"] {
    height: 100%;
    min-height: 100px;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
}
h1, h2 {
    font-weight: 700;
}

.divisore {
    height: 50px;
    text-align: center;
}
.divisore hr {
    width: 40%;
    line-height: 50px;
    border: 2px solid white;
    display: inline-block;
}
.divisore  .glyphicon-star {
    line-height: 50px;
    font-size: 40px;
    color: white;
    margin: 0 15px;
}

img {
    width: 100%;
    border-radius: 15px;
}

.box100 {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.box80 {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.circle {
    font-size: 20px;
    padding: 20px 25px;
    border: 1px solid white;
    border-radius: 50%;
}
/* header */
.my_star {
    font-size: 40px;
    color: #2C3E50;
}

.ms_navbar {
    background-color: #2C3E50;
    color: #001632;
    margin: 0;
}

.ms_navbar .navbar-brand {
    height: 70px;
    line-height: 100%;
}

.ms_navbar .navbar-brand > h3{
    height: 100%;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    color: white;
}

#bs-example-navbar-collapse-1 a h3 {
    color: white;
    font-size: 16px;
}

.ms_navbar .active > a {
    color: #0cd977;
    text-decoration: underline;
}

.ms_navbar .navbar-nav>li {
    height: 70px;
    line-height: 40px;
}

.ms_navbar .navbar-nav>li>a {
    line-height: 40px;
}

.ms_navbar .navbar-toggle {
    line-height: 40px;
    border: 1px solid white;
}
.ms_navbar .navbar-toggle .icon-bar {
    width: 24px;
    height: 3px;
    background-color: lightgrey ;
}

.ms_navbar .nav>li>a:focus, 
.ms_navbar .nav>li>a:hover {
    background-color: transparent;
    text-decoration: underline;
}

#bs-example-navbar-collapse-1 ul li a h3 {
    margin:0;
    line-height: 40px;
}

/* JUMBOTRON */

#jumbotron {
    padding: 80px 15px;
    background-color: #1ABC9C;
}
#jumbotron img {
    height: 260px;
}
#jumbotron h1 {
    color: white;
}
#jumbotron h1, h2, h3 {
    color: white;
}

#jumbotron .divisore hr {
    width: 15%;
    line-height: 50px;
    border: 2px solid white;
    display: inline-block;
}

/* PORTFOLIO */
#portfolio h1,
#portfolio .divisore hr,
#portfolio .divisore span {
    color: black;
    border-color: black;
}
.portfolio_item {
    margin-bottom: 30px;
}

/* ABOUT */
#about {
    padding: 60px 0;
    color:white;
    background-color: #1ABC9C;
}

.label-transparent {
    border:1px solid white;
    font-size: 20px;
}

/* CONTACT ME */
#contact-me h1,
#contact-me .divisore hr,
#contact-me .divisore span {
    color: black;
    border-color: black;
}

#contact-me input[type=text], select {
    width: 100%;
    margin: 5px 0;
    border:none;
    border-bottom: 0.5px solid black;
    display: inline-block;
    box-sizing: border-box;
}

#contact-me .box_message input[type=text], select {
    margin: 150px 0;
}

.label_green {
    
    font-size: 18px;
    padding: 10px;
    background-color:#1ABC9C ;
}

/* FOOTER */
/* FOOTER TOP */
#footer_top {
    padding: 35px;
    text-align: center;
    color: white;
    background-color: #3A546D;
}
footer h4 {
    font-size: 20px;
}
footer h1 {
    font-size: 30px;
}
#footer_top span {
    color: #1ABC9C ;
}
#footer_bottom {
    padding-top: 35px;
    text-align: center;
    color: white;
    background-color: #2C3E50;
}

@media (min-width: 1200px) {
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* .debug [class *="col-"] {
        background-color: orange;
        border: 1px solid black;
    }   */

    .ms_navbar h3 {
        font-size: 20px;
    }
    .divisore {
        height: 30px;
    }
    .divisore hr {
        width: 35%;
        line-height: 30px;
        border: 2px solid white;
        display: inline-block;
    }
    .divisore  .glyphicon-star {
        line-height: 30px;
        font-size: 35px;
        color: white;
        margin: 0 5px;
    } 
    
    .box80 {
        width: 100%;
    }

    footer h4 {
        font-size: 15px;
    }
    footer h1 {
        font-size: 19px;
    }
    .circle {
        font-size: 15px;
        padding: 5px 10px;
    }
}

@media (max-width: 767px) {
    /* .debug [class *="col-"] {
        background-color: yellow;
        border: 1px solid black;
    }   */

    .divisore {
        height: 30px;
    }
    .divisore hr {
        width: 25%;
        line-height: 30px;
        border: 2px solid white;
        display: inline-block;
    }
    .divisore  .glyphicon-star {
        line-height: 30px;
        font-size: 35px;
        color: white;
        margin: 0 5px;
    } 

    #portfolio h1 {
        font-size: 25px;
    }

    .ms_navbar .navbar-brand > h3{
        height: 100%;
        line-height: 100%;
    }
    .ms_navbar .navbar-nav {
        background-color: #2C3E50;
    }
    .ms_navbar .navbar-nav .active > a {
        color: white;
    }
    .ms_navbar a {
        font-size: 24px;
        color: white;
    }
  
    .ms_navbar .navbar-nav .active > a {
        color: white;
    }
    .ms_navbar a {
        font-size: 24px;
        color: white;
    }

    .ms_navbar .nav>li>a:focus, .ms_navbar .nav>li>a:hover {
        background-color: transparent;
        color: #0056b3;
        text-decoration: underline;
    }


}